{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <h3>add feedback...</h3>
        <!-- https://symfony.com/doc/current/form/form_customization.html -->
        <!-- using  form(feedback_form) would render the full form at once based on a default template-->
        {{ form_start(feedback_form) }}
            <div>
                <label for="author">Author : </label>
                {{ form_widget(feedback_form.author) }}
            </div>
            <div>
                <label for="feedback">Feedback</label>
                {{ form_widget(feedback_form.text) }}
            </div>
            <div>
                {{ form_widget(feedback_form.save) }}
            </div>
        {{ form_end(feedback_form) }}
    </section>
{% endblock %}